<html>
<head>
  <title>{{title}}</title>
  <link crossorigin="anonymous" href="{{nestedUrl 'app.css'}}" media="all" rel="stylesheet" />
  <link crossorigin="anonymous" href="{{nestedUrl 'styles.css'}}" media="all" rel="stylesheet" />
</head>
<body>
  {{{contents}}}

  {{> footer}}
  <script src="{{nestedUrl 'app.umd.js'}}"></script>
</body>
</html>
